@model checkintegration.Models.Registration

@{
    ViewBag.Title = "Change_Password";
    Layout = "~/Views/Shared/_MyLayout1.cshtml";
}

<h2>Change_Password</h2>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login Failed, check details");

    <div>
        <div class="container">
            <fieldset>


                <div class="form-group">
                    <label style="font-size:20px">Email Id:</label> 
                    <div>
                        @Html.TextBoxFor(model => model.EmailId, new { style = "width:300px;", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EmailId)
                    </div>
                </div>


                <div class="form-group">
                    <label style="font-size:20px">Old Password:</label>
                    <div>
                        @Html.PasswordFor(model => model.Password, new { style = "width:300px;", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>

                <div class="form-group">
                    <label style="font-size:20px">New Password:</label>
                    <div>
                        @Html.PasswordFor(model => model.NewPassword, new { style = "width:300px;", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </div>
                </div>

                <div class="form-group">
                    <label style="font-size:20px">Conirm Password:</label>
                    <div>
                        @Html.PasswordFor(model => model.NewConfirmPassword, new { style = "width:300px;", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NewConfirmPassword)
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>

                <div class="form-group">
                    @Html.ActionLink("Forgot password ??", "ForgotPassword", "Home", new { @style = "color:#E91E63; font-size:10px" })
                </div>

                
            </fieldset>
        </div>
    </div>
}

